<table class='table'>
  <tr>
    <td>
      <%= link_to @book.user do %>
        <%= image_tag @book.user.get_profile_image(100, 100) %><br>
        <%= @book.user.name %>
      <% end %>
      </td>
    <td><%= link_to @book.title, book_path(@book.id) %></td>
    <td><%= @book.body %></td>
    <td>
      <% if @book.favorited_by?(current_user) %>
        <p>
          <%= link_to book_favorites_path(@book), method: :delete do %>
            <i class="fa-solid fa-heart"></i><%= @book.favorites.count %>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to book_favorites_path(@book), method: :post do %>
            <i class="fa-regular fa-heart"></i><%= @book.favorites.count %>
          <% end %>
        </p>
    </td>
    <td>コメント数: <%= @book.book_comments.count %></td>
    <% if current_user.id == @book.user.id %>
      <td><%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-mb btn-success' %></td>
      <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: 'btn btn-mb btn-danger' %></td>
    <% end %>
    <% end %>
  </tr>
</table>