<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User Info</h2>
      <%= image_tag current_user.get_image(100, 100) %>
      <table class='table'>
        <tr>
          <th>name</th>
          <th>
            <%= current_user.name %>
          </th>
        </tr>
        <tr>
          <th>introduction</th>
          <th>
            <%= current_user.introduction %>
          </th>
        </tr>
      </table>
      
      <h2>New Book</h2>
      <%= form_with model: @book do |form| %>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <%= form.label :body %>
        <%= form.text_area :body %>
        <%= form.submit 'Create Books' %>
      <% end %>
    </div>
  </div>
</div>